html,
body {
  height: 100vh;
  margin: 0;
}

#root {
  height: 100vh;
  margin: 0;
}

.app-style {
  display: flex;
}


.side-nav-bar {

  position: sticky;
  left: 0;
  top: 0;
  background: linear-gradient(gray, rgb(61, 61, 61));
  border: none;
  min-width: 200px;
  max-width: 10%;

  height: 100vh;
  overflow: auto;
  

}

.nav-bar-buttons {

  margin-top: 10vh;
  margin-bottom: 5vh;

  display: inline-block;
  list-style: none;
  position: relative;
  right: 10%;

}

.nav-bar-buttons li button {
  background: linear-gradient(rgb(48, 48, 48), rgb(75, 75, 75));
  color: chartreuse;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  
  height: 20vh;
  width: 100%;
  margin-top: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;


}

.main-section {
  background: linear-gradient(white,rgb(196, 196, 196));
  display: block;
  width: 100%;
  margin-top: 72px;

}

.about-section {
  text-align: center;
  padding: 20px;
  width: 50vh;
  margin: auto;
}

.education-section {
  text-align: center;
  padding: 20px;
  width: 50vh;
  margin: auto;
}

.work-experience-section {
  text-align: center;
  padding: 20px;
  width: 50vh;
  margin: auto;
}

.projects-section{
  text-align: center;
  padding: 20px;
  width: 50vh;
  margin: auto;
}


.header-component{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: right;
  width: 90%;  
  margin-left: 200px;

  background: linear-gradient(to right,gray,black);

}

.header-elements{
  display: flex;
  list-style: none;
  padding: 5px;
}

.header-elements li{
  padding: 5px;
}

.header-elements a{
  color: greenyellow;
  text-decoration: none;
  margin-right: 30px;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  

}

.footer-bar {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: hsl(0, 0%, 80%);

}

.footer_elements {
  position: bottom;
  display: flex;
  justify-content: right;
  list-style: none;
  margin: 0;
  padding: 10px;
  width: 100%;


}

.footer_elements li {
  margin: 0 10px;
  padding: 10px 0;
}